/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color:"white";
  font-family:"bodoni 72";
}
p {
  line-height: 2rem;
  font-family: "bodoni 72"
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color:"black";
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px){
  .parallax-container .section {
    position: absolute;
    top: 40%;
    font-family:"bodoni 72"
  }
  .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

index-banner {
    font-family:"bodoni 72"
    top: 10%;
  }
}

index-banner .section {
    font-family:"bodoni 72"
    top: 0;
  }
}

footer.page-footer {
  font-family:"bodoni 72"
  width: 100%
  margin: 0;
}
