body {
    font-family: "bodoni 72";
    text-align: center;
}
.title>h1 {
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: lighter;
  text-transform: uppercase;
}

.subtitle>h3 {
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
}

.terms>h4 {
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  padding-left: 10%;
  padding-right: 10%;
}

.description>p {
  font-size: 14px;
}

footer>p {
  font-size: 12px;
  color: #868e96;
  text-align: left;
  position: absolute;
  bottom:0;
}
